{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h2 class="text-center mb-4">Choose an App</h2>
<div class="row">
    <div class="col-md-4">
        <a href="{% url 'calculator' %}" class="card app-card text-center">
            <div class="card-body">
                <h4>🧮 Calculator</h4>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'todolist' %}" class="card app-card text-center">
            <div class="card-body">
                <h4>📝 To-Do List</h4>
            </div>
        </a>
    </div>
</div>
{% endblock %}